.idea
composer.lock
vendor
.env
.phpunit.result.cache
src/Ddd/Courses/Infrastructure/*.*.repo
src/Gibmyx/Courses/Infrastructure/*.*.repo
src/Francisco/Courses/Infrastructure/*.*.repo
src/Daniel/Courses/Infrastructure/*.*.repo
src/JoseQ/Courses/Infrastructure/*.*.repo
src/Gabriel/Courses/Infrastructure/*.*.repo
/apps/*/*/var/